name: PR Conventional Commit Validation

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened, edited]

jobs:
  validate-pr-title:
    runs-on: ubuntu-latest
    steps:
      - name: PR Conventional Commit Validation
        uses: ytanikin/pr-conventional-commits@1.4.0
        with:
         add_label: 'true'
         task_types: '["feat","fix","docs","test","ci","build","refactor","perf","chore","revert"]'
         custom_labels: '{"feat": "feat", "fix": "bug", "docs": "documentation"}'
