name: lint

on:
  pull_request:
    branches: [main]

jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/nix
      - run: nix develop --quiet --command cargo --quiet clippy

  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/nix
      - run: nix develop --quiet --command cargo --quiet fmt --check
